// 本文件是对 ant-design的主题定制:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// 自定义的变量
@border-color: #d9d9d9;
@text-ultralight: #ccc;
@text-light: #999;
@text-primary: #666;
@text-dark: #333;
@base-bg: #F0F2F5;
@primary: #108EE9;
@yellow: #F3A600;
@red: #e64340;
@status-green: #00A854;
@status-blue: @primary;
@status-cyan: #00A2AE;
@status-pure: #7265E6;
@status-orange: #F56A00;
@status-yellow: @yellow;
@status-red: @red;

@spacing-small: 1rem;
@spacing-base: 1.5rem;
@spacing-large: 2rem;

// antd 定制
@primary-color: @primary;

